@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../../fonts/Gilroy-Regular.woff") format("woff"),
    url("../../fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../../fonts/Gilroy-Medium.woff") format("woff"),
    url("../../fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../../fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("../../fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../../fonts/Gilroy-Bold.woff") format("woff"),
    url("../../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
}

input {
  font-family: "Gilroy", sans-serif;
  outline: none;
  transition: border 0.2s linear;

  &:focus {
    border: 1px solid #0066cc;
  }
}

.header {
  background-color: #fff;
  padding: 20px 0;
  margin-bottom: 83px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
}

.container {
  width: 100%;
  max-width: 884px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    text-decoration: none;
    margin-left: 40px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    transition: color 0.3s ease-in-out;

    &-main,
    &-test {
      text-decoration: none;
      margin-left: 8px;
      font-size: 14px;
      line-height: 16px;
      color: #52575f;

      &:first-child {
        margin-left: 0;
        margin-right: 8px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #0066cc;
    }

    &-active {
      color: #0066cc;
    }
  }
}

.test {
  margin-bottom: 94px;

  &__nav {
    margin-bottom: 15px;
  }

  &__title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #333;
  }
}

.section {
  margin-bottom: 104px;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #333;
    margin-bottom: 9px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 32px;
    color: #1d1d1f;
    margin-bottom: 55px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #1d1d1f;

  &__btn {
    padding: 3px 16px 5px;
    background-color: rgba(0, 102, 204, 0.1);
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #0066cc;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      color: #fff;
      background-color: #0066cc;
    }
  }
}

th {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #f5f5f7;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

td {
  border-bottom: 1px solid #e1e1e1;
  line-height: 24px;
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.form {
  background-color: #f5f5f7;
  border-radius: 20px;
  padding: 80px 96px 96px;
  color: #1d1d1f;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 47px;
  }

  &__description {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    &-input {
      width: 100%;
      height: 56px;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      line-height: 24px;
      padding: 16px;
      margin-top: 10px;
      margin-bottom: 38px;
    }
  }

  &__btn {
    background-color: #0066cc;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 15px 28px 17px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #0066cc;
      background-color: #f5f5f7;
      border: 1px solid #0066cc;
    }
  }
}

.parameters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
  max-width: 600px;
  width: 100%;

  &__description {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1f;
    margin-bottom: 9px;
  }

  &__price {
    padding: 0;

    &-input {
      width: 222px;
      height: 56px;
      text-align: center;
      padding: 0 15px;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      border-radius: 4px 4px 0 0;
      font-size: 16px;
      line-height: 24px;
      color: #1d1d1f;
    }
  }

  &__square {
    padding: 0;

    &-input {
      width: 112px;
      height: 56px;
      text-align: center;
      padding: 0 15px;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      font-size: 16px;
      line-height: 24px;
      color: #1d1d1f;
    }
  }
}

.lb1 {
  margin: 0;

  & span {
    display: block;
    margin-left: 55px;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1f;
  }
}

#highload1 {
  display: none;

  & + .lb1,
  & + .lb1::before,
  & + .lb1::after {
    transition: all 0.3s linear;
  }

  & + .lb1 {
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
    width: 44px;
    height: 24px;
    border-radius: 50px;
    cursor: pointer;
  }

  & + .lb1::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 5px;
    right: 5px;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }

  & + .lb1::after {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
  }

  &:checked + .lb1::before {
    content: attr(data-onlabel);
    left: 5px;
    right: auto;
    color: #eee;
  }

  &:checked + .lb1::after {
    left: 22px;
    background-color: #f7f7f7;
  }

  & + .lb1 {
    background-color: #ccc;
  }

  &:checked + .lb1 {
    background-color: #0066cc;
  }

  &:checked + .lb1::before {
    color: #eee;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;

  &__description {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 24px;
    color: #1d1d1f;
  }

  &__phone-input,
  &__email-input {
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 15px;
  }

  &__phone-input {
    width: 222px;
    height: 56px;
  }

  &__email-input {
    width: 397px;
    height: 56px;
  }
}

.files {
  margin-bottom: 39px;

  &__description {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1f;
    margin-bottom: 9px;
  }

  &__inner {
    position: relative;
    padding: 32px 145px;
    cursor: pointer;
    border: 1px dashed #b9b1b1;
    border-radius: 4px;

    & span {
      display: block;
      max-width: 355px;
      width: 100%;
      line-height: 24px;
      text-align: center;
      color: #58585d;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

.usability {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;

  &__description {
    font-weight: 600;
    line-height: 24px;
    color: #1d1d1f;
  }

  &__list {
    cursor: pointer;
  }

  &__list,
  &__password-input {
    width: 309px;
    height: 56px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 16px;
    margin-top: 10px;
  }

  &__list {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1f;
  }

  &__password .usability__description {
    display: flex;
    flex-direction: column;
  }
}

.wish {
  margin-bottom: 48px;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    line-height: 24px;
    color: #1d1d1f;
  }

  &__description-input {
    width: 100%;
    height: 56px;
    margin-top: 9px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
}

.gallery {
  margin-bottom: 100px;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #333;
    margin-bottom: 9px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 32px;
    color: #1d1d1f;
    margin-bottom: 71px;
  }
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &__item {
    font-weight: 500;
    line-height: 32px;
    color: #333;
    padding: 4px 16px;
    margin-right: 8px;
    background-color: #f2f4f7;
    border-radius: 10px;
    transition: color 0.2s linear, background-color 0.2s ease-in-out;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: #fff;
      background-color: #0066cc;
    }

    &:hover {
      color: #fff;
      background-color: #0066cc;
    }
  }
}

.blocks {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__row {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    position: relative;
    margin: 24px;

    & img {
      display: block;
      max-width: 430px;
      width: 100%;
      height: auto;
    }
  }

  &:hover {
    .slider-next,
    .slider-prev {
      opacity: 1;
    }
  }
}

.slider-next,
.slider-prev {
  position: absolute;
  width: 80px;
  height: 80px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  color: #0066cc;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.slider-next:hover,
.slider-prev:hover {
  color: #fff;
  background-color: #0066cc;
}

.slider-next {
  left: 101px;
}

.slider-prev {
  right: 101px;
}
