@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../../fonts/Gilroy-Regular.woff") format("woff"), url("../../fonts/Gilroy-Regular.ttf") format("truetype"), url("../../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../../fonts/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy-Medium.ttf") format("truetype"), url("../../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../../fonts/Gilroy-SemiBold.woff") format("woff"), url("../../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../../fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../../fonts/Gilroy-Bold.woff") format("woff"), url("../../fonts/Gilroy-Bold.ttf") format("truetype"), url("../../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
}

input {
  font-family: "Gilroy", sans-serif;
  outline: none;
  -webkit-transition: border 0.2s linear;
  transition: border 0.2s linear;
}
input:focus {
  border: 1px solid #0066cc;
}

.header {
  background-color: #fff;
  padding: 20px 0;
  margin-bottom: 83px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
}

.container {
  width: 100%;
  max-width: 884px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__link {
  text-decoration: none;
  margin-left: 40px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__link-main, .nav__link-test {
  text-decoration: none;
  margin-left: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #52575f;
}
.nav__link-main:first-child, .nav__link-test:first-child {
  margin-left: 0;
  margin-right: 8px;
}
.nav__link-main:hover, .nav__link-test:hover {
  text-decoration: underline;
}
.nav__link:first-child {
  margin-left: 0;
}
.nav__link:hover {
  color: #0066cc;
}
.nav__link-active {
  color: #0066cc;
}

.test {
  margin-bottom: 94px;
}
.test__nav {
  margin-bottom: 15px;
}
.test__title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  color: #333;
}

.section {
  margin-bottom: 104px;
}
.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #333;
  margin-bottom: 9px;
}
.section__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #1d1d1f;
  margin-bottom: 55px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #1d1d1f;
}
.table__btn {
  padding: 3px 16px 5px;
  background-color: rgba(0, 102, 204, 0.1);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #0066cc;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.table__btn:hover {
  color: #fff;
  background-color: #0066cc;
}

th {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #f5f5f7;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

td {
  border-bottom: 1px solid #e1e1e1;
  line-height: 24px;
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.form {
  background-color: #f5f5f7;
  border-radius: 20px;
  padding: 80px 96px 96px;
  color: #1d1d1f;
}
.form__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 47px;
}
.form__description {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.form__description-input {
  width: 100%;
  height: 56px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  line-height: 24px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 38px;
}
.form__btn {
  background-color: #0066cc;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 15px 28px 17px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form__btn:hover {
  color: #0066cc;
  background-color: #f5f5f7;
  border: 1px solid #0066cc;
}

.parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 63px;
  max-width: 600px;
  width: 100%;
}
.parameters__description {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1f;
  margin-bottom: 9px;
}
.parameters__price {
  padding: 0;
}
.parameters__price-input {
  width: 222px;
  height: 56px;
  text-align: center;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1f;
}
.parameters__square {
  padding: 0;
}
.parameters__square-input {
  width: 112px;
  height: 56px;
  text-align: center;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1f;
}

.lb1 {
  margin: 0;
}
.lb1 span {
  display: block;
  margin-left: 55px;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1f;
}

#highload1 {
  display: none;
}
#highload1 + .lb1, #highload1 + .lb1::before, #highload1 + .lb1::after {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#highload1 + .lb1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 15px;
  width: 44px;
  height: 24px;
  border-radius: 50px;
  cursor: pointer;
}
#highload1 + .lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 5px;
  right: 5px;
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
#highload1 + .lb1::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
}
#highload1:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 5px;
  right: auto;
  color: #eee;
}
#highload1:checked + .lb1::after {
  left: 22px;
  background-color: #f7f7f7;
}
#highload1 + .lb1 {
  background-color: #ccc;
}
#highload1:checked + .lb1 {
  background-color: #0066cc;
}
#highload1:checked + .lb1::before {
  color: #eee;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}
.contacts__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  line-height: 24px;
  color: #1d1d1f;
}
.contacts__phone-input, .contacts__email-input {
  margin-top: 9px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 0 15px;
}
.contacts__phone-input {
  width: 222px;
  height: 56px;
}
.contacts__email-input {
  width: 397px;
  height: 56px;
}

.files {
  margin-bottom: 39px;
}
.files__description {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1f;
  margin-bottom: 9px;
}
.files__inner {
  position: relative;
  padding: 32px 145px;
  cursor: pointer;
  border: 1px dashed #b9b1b1;
  border-radius: 4px;
}
.files__inner span {
  display: block;
  max-width: 355px;
  width: 100%;
  line-height: 24px;
  text-align: center;
  color: #58585d;
  margin-left: auto;
  margin-right: auto;
}

input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

.usability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}
.usability__description {
  font-weight: 600;
  line-height: 24px;
  color: #1d1d1f;
}
.usability__list {
  cursor: pointer;
}
.usability__list, .usability__password-input {
  width: 309px;
  height: 56px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 16px;
  margin-top: 10px;
}
.usability__list {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1f;
}
.usability__password .usability__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wish {
  margin-bottom: 48px;
}
.wish__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 600;
  line-height: 24px;
  color: #1d1d1f;
}
.wish__description-input {
  width: 100%;
  height: 56px;
  margin-top: 9px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.gallery {
  margin-bottom: 100px;
}
.gallery__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #333;
  margin-bottom: 9px;
}
.gallery__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #1d1d1f;
  margin-bottom: 71px;
}

.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.list__item {
  font-weight: 500;
  line-height: 32px;
  color: #333;
  padding: 4px 16px;
  margin-right: 8px;
  background-color: #f2f4f7;
  border-radius: 10px;
  -webkit-transition: color 0.2s linear, background-color 0.2s ease-in-out;
  transition: color 0.2s linear, background-color 0.2s ease-in-out;
  cursor: pointer;
}
.list__item:last-child {
  margin-right: 0;
}
.list__item.active {
  color: #fff;
  background-color: #0066cc;
}
.list__item:hover {
  color: #fff;
  background-color: #0066cc;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.blocks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blocks__item {
  position: relative;
  margin: 24px;
}
.blocks__item img {
  display: block;
  max-width: 430px;
  width: 100%;
  height: auto;
}